<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.spring.aqs.mapper.aqsRoleMenusMapper">
  <resultMap id="BaseResultMap" type="team.spring.aqs.entity.AqsRoleMenus">
    <id column="rm_id" jdbcType="VARCHAR" property="rmId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
  </resultMap>
  <sql id="Base_Column_List">
    rm_id, role_id, menu_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aqs_role_menus
    where rm_id = #{rmId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from aqs_role_menus
    where rm_id = #{rmId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="team.spring.aqs.entity.AqsRoleMenus">
    insert into aqs_role_menus (rm_id, role_id, menu_id
      )
    values (#{rmId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="team.spring.aqs.entity.AqsRoleMenus">
    insert into aqs_role_menus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rmId != null">
        rm_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rmId != null">
        #{rmId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.spring.aqs.entity.AqsRoleMenus">
    update aqs_role_menus
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
    </set>
    where rm_id = #{rmId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.spring.aqs.entity.AqsRoleMenus">
    update aqs_role_menus
    set role_id = #{roleId,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=VARCHAR}
    where rm_id = #{rmId,jdbcType=VARCHAR}
  </update>
</mapper>